body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.background-container {
    background-color: #F0F0F0; /* Add your background image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modern-form {
    background-color: rgba(255, 255, 255, 0.8); /* White background with some transparency */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add any additional styling you want for form elements, labels, etc. */
